.profile__edit-button {
    margin: 0;
    padding: 0;
    border: 1px solid #ffffff;
    box-sizing: content-box;
    max-width: 24px;
    height: 24px;
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 680px) {
    .profile__edit-button {
        height: 18px;
    }
}


.profile__edit-button:hover {
    opacity: .6;
    transition: opacity .5s ease .1s;
}