.profile__add-button-img {
    height: 22px;
    width: 22px;
    padding: 12px 62px;
    
}

@media screen and (max-width: 680px) {
    .profile__add-button-img {
        height: 16px;
        width: 16px;
        padding: 15px 130px 15px 132px;
    }
}