.popup__close {
    padding: 0;
    position: absolute;
    top: -40px;
    right: -38px;
    background-color: black;
    border: none;
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 680px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}